  * {
      margin: 5px;
      margin-top: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-image: url(image/background1.jpg);
      background-size: cover;
      gap: 40px;
      padding-top: 60px;
      font-family: "Story Script", sans-serif;
      font-weight: 400;
      font-style: normal;
      display: grid;
      grid-column: repeat(auto-fit);
  }

  .bar {
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 20px;
      list-style: none;
      font-size: 20px;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(174, 43, 170);
      border: 2px solid rgb(239, 197, 11);

  }

  a {
      color: rgb(255, 255, 255);
  }

  a:hover {
      color: rgb(70, 245, 6);
  }

  /* a:active {
      color: rgb(205, 16, 16);
  } */

  .b1 {
      background-color: black;
      color: aliceblue;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  button:hover {
      background-color: rgb(222, 13, 180);
  }

  .b2 {
      background-color: red;
      color: aliceblue;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #skills {
      font-size: 18px;
      color: aliceblue;
  }

  a {
      text-decoration: none;
  }

  #contact {
      line-height: 25px;
      margin-top: 4rem;
  }

  img {
      border-radius: 20%;
      margin-right: 30px;
      box-shadow: rgba(242, 239, 239, 0.4) 5px 3px 9px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(248, 248, 248, 0.2) 0px -3px 0px inset;
  }

  h2 {
      color: yellow;
  }

  .contact-me {
      background-color: rgb(171, 65, 0);
      /* border: 5PX solid rgb(12, 243, 77); */
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 30px;
      text-align: center;
      width: 450px;
      height: 600px;
      box-shadow: rgba(5, 238, 55, 0.4) 2px 2px 4px, rgba(3, 242, 47, 0.3) 7px 7px 13px -3px, rgba(13, 240, 54, 0.2) 2px 3px 5px inset;
      border-radius: 15%;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      margin-top: 7rem;
      padding: 20px;

  }

  #contact {
      line-height: 1.2;
  }

  #contact .contact-me {
      align-items: center;
      justify-content: flex-end;

  }

  #home {
      padding-top: 80px;
  }

  input {
      border-radius: 8px;
      background-color: aqua;
  }

  label {
      color: rgb(243, 243, 244);
  }

  textarea {
      border-radius: 8px;
  }

  #home {
      margin-left: 30px;
  }